<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Site.LanguageCode }}">

<head>
    {{- partial "asset-publisher.html" -}}
    {{- partial "head.html" . }}
</head>

<body>
    <div class="body-wrapper">
        <header>
            {{ partial "header.html" . }}
        </header>
        <!-- Margin for sticky navbar -->
        <div class="mt-12"></div>
        <main>
            {{ block "main-wrapper" . }}
            <div class="main-wrapper">
                {{ block "main" . }}
                MISSING MAIN BLOCK FROM TEMPLATE :(
                <br>
                MISSING MAIN BLOCK FROM TEMPLATE :(
                <br>
                MISSING MAIN BLOCK FROM TEMPLATE :(
                <br>
                MISSING MAIN BLOCK FROM TEMPLATE :(
                {{ end }}
            </div>
            {{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </div>
</body>

</html>
