<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello world!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script type="text/javascript">
        /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
        const FULLY_CONTENT_Y = 82; // When content fills the entire screen
        var prevScrollpos = window.pageYOffset;
        var currentNavbarTop = 0
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            const el = document.getElementById("navbar-container")
            if (prevScrollpos > currentScrollPos) {
                el.classList.remove("duration-200")
                el.style.top = `${currentScrollPos.toString()}px`
                currentNavbarTop = currentScrollPos
            }

            else {
                el.classList.add("duration-200")
                el.style.top = "0px"
                currentNavbarTop = 0
            }
            prevScrollpos = currentScrollPos;
        }
    </script> -->
</head>

<body class="bg-gray-700">
    <div class="container mx-auto px-4 py-4">
        <nav class="bg-white border-gray-200 dark:bg-gray-900 relative duration-200" id="navbar-container">
            {{ template "navbar.htmx" . }}
        </nav>
        <div class="mt-2 px-4 py-4 bg-white border-gray-200 dark:bg-gray-800 text-gray-300">
            {{ template "content.htmx" . }}
        </div>
    </div>
</body>

</html>
